#body {
    align-items: center;
}

#title {
    background-image: url("img/horizon.jpg");
    background-size: initial;
    background-position-y: 45%;
    background-position-x: 40%;
    color :white;
}

#title p {
    font-size: x-large;
    color :black;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

span {
    align-items: center;
}

span > div {
    margin: 10%;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    background-color: yellow;
    text-align: center;
}
