table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul li {
    padding-right: 10px;
    padding-left: 10px;
    border-collapse: collapse;
    display: inline-block;

}
