<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity=
        "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="registrazioneRistoratore.js"></script>
        <script src="firstPage.js"></script>
</head>

<body>
    <header id="h"></header>
<form id='login' method='post' class="form-group" accept-charset='UTF-8'>
    <fieldset>
        <legend>Registrati come fattorino</legend>
        <input type="hidden" name="sent" value="true" />
        <label for='username'>Nome:</label>
        <input type='text' name='name' class="form-control" id='inputNome' maxlength="50" /><br />
        <label for='username'>Cognome:</label>
        <input type='text' name='surname' class="form-control" id='inputCognome' maxlength="50" /><br />
        <label for='username'>Data di nascita:</label>
        <input type='date' name='date' class="form-control" id='inputDataDiNascita' maxlength="50" /><br />
        <label for='username'>Nickname:</label>
        <input type='text' name='nickname' class="form-control" id='inputNickname' maxlength="50" /><br />
        <label for='username'>Email:</label>
        <input type='email' name='mail' class="form-control" id='inputEmail' maxlength="50" /><br />
        <label for='password'>Password:</label>
        <input type='password' name='password' class="form-control" id='inputPassword' maxlength="50" /><br />
        <label for='password'>Reinserire la password:</label>
        <input type='password' name='password2' class="form-control" id='inputPassword2' maxlength="50" /><br />
        <button type='submit' class="btn btn-primary" onclick="registrazione('fattorino')">Registrati</button>
    </fieldset>
</form>
<p>Torna alla <a href="home.html">home</a></p>
<p id="result" style="display: None"></p>
</body>
