<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity=
        "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="registrazioneRistorante.js"></script>
        <script src="firstPage.js"></script>
</head>

<body>
    <header id="h"></header>
<form id='login' class="form-group" method='post' accept-charset='UTF-8'>
    <fieldset>
        <legend>Registrati come ristorante</legend>
        <input type="hidden" name="sent" value="true" />
        <label for='name'>Nome del ristorante:</label>
        <input type='text' class="form-control" name='name' id='inputNome' maxlength="20" /><br />

        <label for='description'>Descrizione del ristorante (max 1500):</label>
        <input type='textarea' class="form-control" name='descrizione' id='inputDescrizione' maxlength="1500" /><br />

        <label for='email'>Indirizzo email:</label>
        <input type='email' class="form-control" name='email' id='inputEmail' maxlength="50" /><br />

        <label for='logoPiccolo'>Logo piccolo:</label>
        <input type="file" class="form-control" name="img1" id="inputLogoPiccolo" accept="image/x-png,image/gif,image/jpeg" onchange="showLogo(null,0);" /></br>
        <div id="drop_zone1" style="min-width: 100px; min-height: 50px; border-style: solid; border-color: black">Oppure trascinalo qui<output id="list0" ></output></div></br>

        <label for='logoGrande'>Logo grande:</label>
        <input type="file" class="form-control" name="img1" id="inputLogoGrande" accept="image/x-png,image/gif,image/jpeg" onchange="showLogo(null,1);" /></br>
        <div id="drop_zone2" style="min-width: 100px; min-height: 50px; border-style: solid; border-color: black">Oppure trascinalo qui<output id="list1" ></output></div></br>

        <label for='tempo'>Tempo di consegna minimo:</label>
        <input type="number" min="1" max='180' name="tempo" id="tempo">

        <button type='submit' class="btn btn-primary" onclick="registrazioneRistorante(this)">Registrati</button>
    </fieldset>
</form>
<p>Torna alla <a href="home.html">home</a></p>
<p id="result" style="display: None"></p>
</body>
