button {
  margin: 5px 5px 5px 5px
}

img {
  max-width: 20%;
}

.btn {
  background-image: url("img/restViewSfondo.jpg");
  background-size: 50px;
  color: white;
}

.bg-gray {
  color: black;
  background-color: white;
}
